{% extends "base.html" %}

{% block content %}

<h1>File: {{filename}}</h1>

<form action="" method="post">
<p>
  {{ form.delete() }}
</p>
<p>
  {{ form.calc_j_C() }}
</p>
<p>
  {{ form.show_norm() }}
</p>
<p>
  {{ form.show_j_C() }}
</p>
<p>
  {{ form.amplification.label }}<br>
  {{ form.amplification() }}
  {% for error in form.amplification.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>
<p>
  {{ form.submit_amplification() }}
</p>
</form>

<p>plot of file:</p>
<p>
  <img src="{{url_for('static',filename = filename + '_plot.png')}}" alt="Plot of File: {{filename}}">
</p>


<p>plot of j_C</p>
<p>
  <img src="{{url_for('static', filename = filename + '_j_C.png')}}" alt="j_C plot of File: {{filename}}">
</p>

<form action="" method="post">
  <p>
    {{ form2.checkbox.label }}<br>
    {{ form2.checkbox() }}
  </p>
  <p>
    {{ form2.submit() }}
  </p>
</form>



{% endblock %}
