{% extends "base.html" %}

{% block content %}

<h1>File: {{file.filename}}</h1>
<p>Bridge: {{file.bridge.bridgename}}</p>
<form action="" method="post">
<p>
  {{ form.delete() }}
</p>
<p>
  {{ form.calc_j_C() }}
</p>
<p>
  {{ form.amplification.label }}<br>
  {{ form.amplification() }}
  {% for error in form.amplification.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>
<p>
  {{ form.submit_amplification() }}
</p>
</form>

<p>plot of file:</p>
<p>
  <img src="{{url_for('static',filename = file.filename + '_plot.png')}}" alt="Plot of File: {{file.filename}}">
</p>

<form action="" method="post">
  <p>
    {{ form.show_norm() }}
  </p>
</form>


<p>plot of j_C</p>
<p>
  <img src="{{url_for('static', filename = file.filename + '_j_C.png')}}" alt="j_C plot of File: {{file.filename}}">
</p>
<form action="" method="post">
  {% if file.res!=None %}
  <p>ohmic resistance detected: R = {{ "%.5f"%file.res }}mOhm</p>
  {% endif %}
  {% if file.j_C!=None %}
  <p>critical current detected: I_C = {{ "%.3f"%file.j_C }}mA</p>
  {% endif %}
  <p>
    {{ form.show_j_C() }}
  </p>
</form>

<form action="" method="post">
  <p>
    {{ form2.checkbox.label }}<br>
    {{ form2.checkbox() }}
  </p>
  <p>
    {{ form2.submit() }}
  </p>
</form>



{% endblock %}
