{% extends "base.html" %}

{% block content %}

<h1>Hello User</h1>

{% if substrates|length > 0 %}
<br>
<p>Measured Substrates:<p>
{% for substrate in substrates %}
<p><a href="{{url_for('substrate', substratename = substrate.substratename) }}">{{substrate.substratename}}</a></p>
{% endfor %}
{% endif %}

<p>Files uploaded right now:</p>
{% if files|length == 0 %}
<p>no files found -- <a href="{{url_for('upload')}}">Upload here!</a></p>
{% else %}
{% for file in files %}
<p><a href="{{url_for('file',filename=file.filename)}}">{{file.filename}}</a></p>
{% endfor %}
{% endif %}
<form action="" method = "post">
  <p>
    {{ form.submit() }}
  </p>
</form>
{% endblock %}
