{% extends "base.html" %}

{% block content %}

<h1>Substrate: {{substrate.substratename}}</h1>
<p><a href="{{url_for('index')}}">Overview</a></p>
<p>Measured bridges:<p>

<form action="" method="post">
  <p>
    {{ form.YBCO_layer.label }}<br>
    {{ form.YBCO_layer(value=form.YBCO_layer.default) }}
    {% for error in form.YBCO_layer.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.Au_layer.label }}<br>
    {{ form.Au_layer(value=form.Au_layer.default) }}
    {% for error in form.Au_layer.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit_layer() }}</p>
</form>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">I_C in mA</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for bridge in substrate.bridges.all() %}
    <tr>
      <th scope="row">{{ bridge.bridgename }}</th>
      <th>{% if bridge.j_C %}{{ "%.5f"%bridge.j_C }}{% else %}Unknown{% endif %}</th>
      <th><a href="{{url_for('bridge', bridgename = bridge.bridgename) }}">Link</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
